
.navbar-header{
	height: 60px;
}


.row {
  background-color: #f9f9f9;
  height: 34px;
  width: 700px;
  align-content: center;
  margin-left: 190px;
}

.searchbtn{

	margin-left: 10px;
}


.loginpanel{
	float:right;
	margin-top:10px;
	margin-right: 20px;

}