{% extends "layouts/base.html" %} {% block content %}

<div class = "container">
	<div class= "row">
<form class="form-inline" role="form" method="POST" action = "">
    <div class = "col-md-2"></div>
	<div class="form-group">{{ form.location.label }}: {{ form.location()}}</div>
	<div class="form-group specialization">{{ form.specialization.label }}: {{ form.specialization() }}</div>
    <button type="button" class="btn searchbtn btn-default" aria-label="Left Align" onclick="search()">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</button>
<div class = "col-md-2"></div>
</form>
</div>
</div>
{% endblock %}
