<div>
    <form method="POST" action="">
        <div>{{ form.name.label }}: {{ form.name() }}</div>
        <div>{{ form.address.label }}: {{ form.address() }}</div>
        <div>{{ form.city.label }}: {{ form.city}}</div>
        <div>{{ form.experience.label }}: {{ form.experience}}</div>
        <div>{{ form.number.label }}: {{ form.number}}</div>
        <div>{{ form.qualification.label }}: {{ form.qualification}}</div>
        <div>{{ form.speciality.label }}: {{ form.speciality}}</div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</div>
